@media (max-width: 992px) {
  #content {
    height: 1000px;
  }
}

@media (min-width: 993px) {
  #content {
    height: 700px;
  }
}

/* small */
@media (max-width: 900px) {
  h1 {
    font-size: 22px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  #content {
    width: 400px;
    height: 740px;
  }
  
  #noun {
    height: 40px;
    font-size: 26px;
    padding: 0px 6px 0px 6px;
  }
  
  #why-is {
    font-size: 26px;
  }
  
  .results {
    font-size: 14px;
  }
  
  .genie-container {
    width: 300px;
    margin-left: -150px;
    padding: 8px;
    border-radius: 4px;
  }

  .genie-container > input {
    border-radius: 4px;
    padding: 0 6px 0 6px;
    font-size: 20px;
    height: 30px;
  }

  .genie-wishes {
    margin-top: 5px;
    max-height: 150px;
    font-size: 15px;
  }

  .genie-wish {
    padding: 0 6px 0 6px;
    line-height: 25px;
  }

  .genie-wish.focused {
    border-radius: 4px;
  }
}

/* big */
@media (min-width: 901px) {
  h1 {
    font-size: 100%
  }
  #content {
    width: 850px;
  }

  #noun {
    height: 90px;
    font-size: 60px;
    padding: 0 12px 0 12px;
  }

  #why-is {
    font-size: 60px;
  }

  .results {
    font-size: 20px;
  }

  #share-search {
    margin-top: 15px;
  }

  .genie-container {
    width: 600px;
    margin-left: -300px;
    padding: 16px;
    border-radius: 8px;
  }

  .genie-container > input {
    border-radius: 8px;
    padding: 0 12px 0 12px;
    font-size: 40px;
    height: 60px;
  }

  .genie-wishes {
    margin-top: 10px;
    max-height: 300px;
    font-size: 30px;
  }

  .genie-wish {
    padding: 0 12px 0 12px;
    line-height: 50px;
  }

  .genie-wish.focused {
    border-radius: 8px;
  }
}

/* common */
@media all {
  html, body {
    height: 100%;
  }
  
  body {
    text-align: center;
    position: absolute;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fdfdfd;
  }
  
  .ng-cloak {
    visibility: hidden;
  }
  
  #content {
    display: inline-block;
    text-align: left;
    margin: 70px auto -170px;
  }
  
  #noun {
    width: 54%;
    display: inline;
  }
  
  #why-is {
    font-weight: bold;
  }
  
  #verb {
    cursor: pointer;
  }

  #noun[placeholder]::-webkit-input-placeholder {
    transition: opacity 0.25s ease;
    opacity: 0;
  }

  #noun[placeholder].placeholder-visible::-webkit-input-placeholder {
    opacity: 1;
  }

  .alert-container {
    position: relative;
    transition: all .2s ease-in-out;
    opacity: 0;
    z-index: -1;
  }

  .alert {
    position: absolute;
    width: 100%;
    box-shadow: 0px 0px 18px 1px #888
  }

  #share-search > span {
    background: rgba(0, 0, 0, 0);
    color: #428BCA;
    text-decoration: none;
    cursor: pointer;
  }

  #share-search > span:hover, #share-search > span:focus {
    text-decoration: underline;
    color: #2A6496;
    outline: 0;
  }


  #results-container {
    
  }
  
  .results {
    opacity: 0;
    transition: all .2s ease-in-out;
  }
  
  .unique-suggestion {
    color: #8F8F8F;
    font-size: 80%;
  }
  
  #footer {
    height: 170px;
  }
  
  #bottom-stuff > div {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  #genie-notice {
    margin-bottom: 40px;
  }
  
  .rub-the-lamp {
    background: rgba(0, 0, 0, 0);
    color: #428BCA;
    text-decoration: none;
    cursor: pointer;
  }
  
  .rub-the-lamp:hover, .rub-the-lamp:focus {
    color: #2A6496;
    outline: 0;
    text-decoration: underline;
  }
  
  .genie-container {
    text-align: left;
    opacity: 0;
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: -1;
    color: #333;
    background-color: #F7F7F7;
    box-shadow: 0px 0px 26px 6px #888888;
    transition: all .2s ease-in-out;
  }

  .visible {
    opacity: 1;
  }
  
  .genie-container.visible, .alert-container.visible {
    z-index: 1050;
  }
  
  .genie-container > input {
    width: 100%;
    margin: 0;
  }
  
  .genie-wishes {
    cursor: pointer;
    overflow-y: auto;
    width: 100%;
  }
  
  .genie-wish {
  }
  
  .genie-wish.focused {
    background-color: #DDD;
  }
}